
# --- IDEs (IntelliJ IDEA & DataGrip) ---
.idea/
*.iml
out/
gen/
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dataSources/
.idea/projectsStorage.xml
.idea/shelf/
.idea/vcs.xml

# --- MySQL Workbench ---
*.mwb.bak
*.mwb.lck
.mysql-workbench/

# --- MySQL / SQL Management ---
*.log
*.err
*.pid
# Ignorar volcados de datos pesados (opcional)
*.sql.gz
*.sql.zip

# --- Java Compilation ---
*.class

# --- System Files ---
.DS_Store
Thumbs.db
desktop.ini